
.corner_placeholder {
    position: absolute;
    display: flex;
    padding: 8px;
}

.top { top: 0; }
.right { right: 0; }
.left { left: 0; }
.bottom { bottom: 0 }

.square_button{

    border:none;
    padding: 8px;
    cursor: pointer;
}

.square_button:hover{
    background-color: #ccc;
}

/* TOGGLE */

.screen_toggle{
    cursor: default;
    background-color: #ffffff;
}

.screen_toggle:hover{
    background-color: #ffffff;
}

/* BRANCH SCALE */

.scale_line{
    stroke-width:  2;
    stroke: black;
}

.scale_text{
}











.toggle{
    position: absolute;
    bottom: 0;
    left: 0;
}




.zoomin{
    position: relative;
    bottom: 40px;
    right: 10px;
}

.zoomout{
    position: relative;
    bottom: 40px;
    right: 10px;
}






