
body{
    background-color: #fff
}

#container1{
    display: inline-block;
    width: 45%;
    height: 600px;
    border: #0f0f0f 1px solid;
    background-color: #fff;

}

#container2{
    display: inline-block;
    width: 45%;
    height: 600px;
    border: #0f0f0f 1px solid;
    background-color: #fff;
}

.node circle {
    fill: #fff;
}

.node text {
    font: 12px sans-serif;
}

.link {
    cursor: pointer;
    fill: none;
    stroke-width: 1px;
}

#histogram-legend text, .legendtxt, .legendsummarytxt {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    stroke: none;
}


