
body{
    background-color: #dddd
}

#container1_stack{
    display: inline-block;
    width: 100%;
    height: 600px;

    background-color: #fff;
}

#container1{
    display: inline-block;
    width: 45%;
    height: 600px;

    background-color: #fff;

}

#container2{
    display: inline-block;
    width: 45%;
    height: 600px;

    background-color: #fff;
}

.node circle {
    fill: #fff;
}

.node text {
    font-family: monospace;

}



#histogram-legend text, .legendtxt, .legendsummarytxt {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    stroke: none;
}


