
body{
    background-color: #ccc
}

#container{
    width: 1600px;
    height: 800px;
    margin: 148px;
    border: #0f0f0f 4px solid;
    background-color: #ddd;
    padding: 8px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
}

