
body{
    background-color: #ccc
}

#container1{
    display: inline-block;
    width: 40%;
    height: 800px;
    margin: 32px;
    border: #0f0f0f 4px solid;
    background-color: #ddd;
    padding: 8px;
}

#container2{
    display: inline-block;
    width: 40%;
    height: 800px;
    margin: 32px;
    border: #0f0f0f 4px solid;
    background-color: #ddd;
    padding: 8px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 8px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
}

