body,
html {
    height: 100%;
}

#colorScale {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

#colorScale b {
    margin-left: -20px;
}

#placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(#ddd, #aaa);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #aaa);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #aaa);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #aaa);
    /* Standard syntax */
}

#placeholder p {
    width: 200px;
}

#text {
    position: absolute;
    width: 200px;
    top: 40px;
    left: 250px;
}

#arrow {
    left: 40px;
    top: 40px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#sidebar-wrapper {
    background: -webkit-linear-gradient(black, #555);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #555);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #555);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #555);
    /* Standard syntax */
    position: absolute;
}

#sidebar-wrapper-wrapper {
    margin: 0 auto -60px;
    padding: 0 0 60px;
    overflow: hidden;
    margin-bottom: 30px;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

#wrapper {
    height: 100%;
}

.vis-container {
    height: calc(100% - 60px);
    padding: 0px;
    position: absolute;
    width: 100%;
}

.vis-scale {
    height: 60px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0px;
}

.vis-scale-2 {
    height: 60px;
    width: 50%;
    background-color: gray;
    float: left;
    position: absolute;
    bottom: 0px;
}

#vis-scale2 {
    margin-left: 50%;
}

.vis-container-2 {
    position: absolute;
    width: 50%;
    float: right;
    height: 100%;
    padding: 0px;
    width: 50%;
    border-width: 0px;
    border-style: solid;
    border-right-width: 2px;
    border-color: black;
    height: calc(100% - 60px);
}

#vis-container2 {
    border-width: 0px;
    margin-left: 50%;
}

#page-content-wrapper {
    padding: 0px;
    height: 100%;
}

.sidebar-brand {
    font-weight: bold;
    font-size: 26px !important;
}

.sidebar-version {
    font-size: 12px;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #999;
}

#mode-buttons {
    width: 200px;
    margin-left: 20px;
    display: hidden;
}

#renderButton {
    margin-left: 20px;
}

input[type=file]{
    color:transparent;
}

label {
    padding-top: -40px;
    color: #999;
    font-size: 12px;
}

#exportButton {
    margin-left: 20px;
}
.alert {
    width: 200px;
    margin-left: 20px;
    line-height: 1.2;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    ! important;
    outline-style: none;
}

#settingsPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

#exportPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

.sizeAdjust {
    width: 200px !important;
}


#settingsPanel [type="checkbox"],
b {
    margin-left: 20px;
}


input[type="radio"] {
    margin-right: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.noExtraMargin {
    margin-left: 0px !important;
}

.extraMargin {
    margin-left: 20px !important;
}

#autoCollapseButtons {
    width: 200px;
    height: 70px;
}

.collapseElem {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.singleIn {
    margin-top: 4px;
}

.newickIn {
    width: 200px;
    margin-top: 4px;
    height: 200px;
    line-height: 20px;
}

#newickInputs p {
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

#newickInputs b {
    margin: 0px;
    color: #999;
}

#newickInputs {
    min-height: 260px;
}

.exportIn {
    margin-top: 4px;
    line-height: 20px;
}

#exportInputs p {
    color: white;
    margin-bottom: -10px;
}

#exportInputs b {
    margin: 0px;
    color: #999;
}

#exportInputs {
    min-height: 260px;
}

.exampleBtn {
    display: block;
}

.compareIn {
    width: 200px;
    margin-top: 4px;
    display: none;
}

.exampleBtn a {
    color: #999;
    font-size: 12px;
    margin: 0px;
}

.smallText {
    margin-top: -40px;
    width: 170px;
    margin-left: 40px;
    line-height: 14px;
    text-align: left;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(37, 36, 45, 0.57);
    font-style: italic;
}

table.fixed {
    width: 200px;
    text-indent: 0px;
    word-break:break-all;
    margin-left: 20px;
    margin-right: 30px;
}
/*Setting the table width is important!*/
table.fixed tr.row1 td  {
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: top;}

table.fixed td {
    overflow:hidden;
}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
    width:45px;
}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
    width:125px;
}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
    width:30px;
}/*Setting the width of column 3.*/

textarea{
    resize: none;
}

textarea.treename {
    background: transparent;
    width: 125px;
    border: none;
}

textarea.treename::-webkit-input-placeholder{
    color: #999;
    font-style: italic
}