body,
html {
    height: 100%;
    overflow:hidden;
}

body#manual {
    overflow: auto;
}

#colorScale {
position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 10px; /*magic number */
    bottom: 0;
    z-index: 99;
}

.logo {
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' /></svg>");
    background-size: 100px 82px;
    position: absolute;
    padding: 5px;
    right: 57px;
    bottom: 5px;
    z-index: -1000;
}

#placeholder {
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    /*input: focus: -webkit-input-placeholder { color:transparent; };*/
    background: -webkit-linear-gradient(#ddd, #aaa);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #aaa);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #aaa);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #aaa);
    /* Standard syntax */
}

#placeholder p {
    width: 200px;
}

#text {
    position: absolute;
    width: 200px;
    left: 250px;
}

#arrow {
    left: 40px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#sidebar-wrapper {
    background: -webkit-linear-gradient(black, #555);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #555);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #555);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #555);
    /* Standard syntax */
    position: absolute;
}

#sidebar-wrapper-wrapper {
    margin: 0 auto -60px;
    padding: 0 0 60px;
    overflow: hidden;
    margin-bottom: 30px;

}

/*.sidebar-nav li {*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

#wrapper {
    height: 100%;
}

svg {
    width: 100%;
}
.vis-container {
    /*height: calc(100% - 60px);*/
    height: 100%;
    padding: 0px;
    position: absolute;
    width: 100%;
    /*overflow: scroll !important;*/
    top: 55px;
}

/*.vis-scale {*/
    /*!*height: 60px;*!*/
    /*width: 100%;*/
    /*background-color: gray;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
/*}*/

/*.vis-scale-2 {*/
    /*!*height: 60px;*!*/
    /*width: 50%;*/
    /*background-color: gray;*/
    /*float: left;*/
    /*position: absolute;*/
    /*bottom: 0px;*/
/*}*/
.dist li {
    font-size: x-small;
    list-style-type: none;

}

#vis-scale2 {
    margin-left: 50%;
}

.vis-container-2 {
    position: absolute;
    float: right;
    height: 100%;
    padding: 0px;
    width: 50%;
    border-width: 0px;
    border-right: #e7e7e7 solid 2px;
    top: 55px;
}

#vis-container2 {
    border-width: 0px;
    margin-left: 50%;
}

#page-content-wrapper {
    padding: 0;
    height: 100%;
}

.sidebar-brand {
    font-weight: bold;
    font-size: 26px !important;
}

.sidebar-version {
    font-size: 12px;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #999;
}


#mode-buttons {
    width: 200px;
    margin-left: 20px;
    /*display: hidden;*/
}

input[type=file]{
    color:transparent;
}

label {
    padding-top: -40px;
    color: lightgrey;
    font-weight: 500;
}

#renderButton {
    margin-left: 20px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

input[type=file]{
    color:transparent;
}

.dropdown-menu li a{
    /*padding: 1px 0px 1px 0px;*/
}

.alert {
    width: 200px;
    margin-left: 20px;
    line-height: 1.2;
}

.btn {
    border: 0 none;
}

.btn.sharp {
    border-radius:0;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-sm {
    background: #9d9d9d;
    color: #ffffff;
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 0px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.dropbtn{
   background-color: #2b542c;
   border: none;
   cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
     background-color: #999;
 }

#settingsPanel {
    display: none;

    background: rgb(79,79,79);
    background: -moz-linear-gradient(-45deg,  rgba(79,79,79,1) 0%, rgba(68,68,68,1) 20%, rgba(14,14,14,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 20%,rgba(14,14,14,1) 100%);
    background: linear-gradient(135deg,  rgba(79,79,79,1) 0%,rgba(68,68,68,1) 20%,rgba(14,14,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#0e0e0e',GradientType=1 );

    padding: 15px;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 50px;

}

.sizeAdjust {
    width: 200px !important;
}

/*#settingsPanel [type=checkbox], b {*/
    /*margin-left: 20px;*/
/*}*/

input[type=radio] {
    margin-right: 5px;
}

input[type=checkbox] {
    margin-right: 5px;
}

.noExtraMargin {
    margin-left: 0px !important;
}

.extraMargin {
    margin-left: 20px !important;
}

#autoCollapseButtons {
    width: 200px;
    height: 70px;
}

.collapseElem {
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: whitesmoke;
    text-align: center;
    width: 40px;
    display: inline-block;


}

.singleIn {
    margin-top: 4px;
}

.newickIn {
    width: 100%;
    margin-top: 4px;
    height: 200px;
    line-height: 20px;
    padding: 4px;
    border-radius: 4px;

}

#newickInputs p {
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

#newickInputs b {
    margin: 0px;
    color: #999;
}

#newickInputs {
    min-height: 260px;
}

.exampleBtn {
    display: block;
}

.compareIn {
    width: 200px;
    margin-top: 4px;
    display: none;
}

.exampleBtn a {
    color: #999;
    font-size: 12px;
    margin: 0px;
}

.smallText {
    margin-top: -40px;
    width: 170px;
    margin-left: 40px;
    line-height: 14px;
    text-align: left;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
}

::-webkit-input-placeholder { /* WebKit; Blink; Edge */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(37, 36, 45, 0.57);
    font-style: italic;
}

/*--end sidebar and general styles----------------------------------------------*/


/*Styles for middle table compare mode for reorder and reroot*/

table.fixed {
    width: 200px;
    text-indent: 0px;
    word-break:break-all;
    margin-left: 20px;
    margin-right: 30px;
}
/*Setting the table width is important!*/
table.fixed tr.row1 td  {
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: top;}

table.fixed td {
    overflow:hidden;
}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
    width:45px;
}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
    width:125px;
}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
    width:30px;
}/*Setting the width of column 3.*/

/*--end middle table for reroot and reorder----------------------------------------------*/

/*Styles for treename input*/

textarea{
    resize: none;
}

input {
    resize: none;
}

input.treename {
    background: transparent;
    width: 125px;
    border: none;
}

input.treename::-webkit-input-placeholder{
    color: #999;
    font-style: italic
}

/*--end treename input----------------------------------------------*/


/*Styles for menu of node or link click*/

.tooltipElem{
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;*/
    opacity: 0.9;
}

.tooltipElemText{
    fill: white;
    font-size: 1em;
    /*font-weight: bold;*/
    opacity: 1;
}

.tooltipElemInfoText{
    fill: white;
    font-size: 1.1em;
    /*font-weight: bold;*/
    opacity: 1;
}


/*--end tooltipElem----------------------------------------------*/

/*Styles for tree*/

path.link {
    stroke: grey;
    fill: none;
    cursor: pointer;
}

path.link.select{
    stroke: green !important;
}

path.link:hover{
    stroke: green !important;
}

path.link.search{
    stroke: orange !important;
}

path.link.search:hover{
    stroke: green !important;
}

g.node{
    fill: black;
    cursor: pointer;
}

g.node.select{
    fill: green !important;
}

circle.node {
    fill: black;
}

circle.node.select{
    fill: green !important;
}

circle.node.search {
    fill: orange !important;
}

circle.node.search:hover {
    fill: green !important;
}

text.node{
    fill: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

text.node.select{
    fill: green !important;
    font-weight: bold;
}

text.node.search{
    fill: orange !important;
    font-weight: bold;
}

text.node.search:hover{
    fill: green !important;
    font-weight: bold;
}

text.triangleText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1;
    fill: black;
}

text.triangleText.select {
    fill: green;
    font-weight: bold;
}

path.triangle.select{
    fill: green !important;
}

rect.node {
    fill: magenta;
    stroke-width: 2px;
    stroke: black;
}

/*--end tree----------------------------------------------*/

/*Styles for undobutton*/

.undo {
    padding: 5px;
    right: 5px;
    top: 0;
    position: absolute;
}

.undoButton {
    width: 26px;
    float: right;
    opacity: 0.3
}

.undoButton:hover {
    opacity: 1;
}

/*--end undo----------------------------------------------*/

/*Styles for sharing*/

#shareButton {
    width: 97.5px;
    margin-left: 0px;
    opacity: 0.3;
}

#shareButton:hover{
    opacity: 1.0;
}

.exportTools {
    padding: 5px;
    right: 31px;
    top: 0;
    position: absolute;
}

.exportButton {
    width: 26px;
    float: right;
    opacity: 0.3
}

.exportButton:hover {
    opacity: 1;
}

.exportMenu {
    background-color: whitesmoke;
    text-align: left;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: 38px;
    width: 104px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
    padding-bottom: 2px;
    display: none;
}

.exportMenuContent {
    text-align: left;
}

.exportMenu li {
    list-style:none;
    /*border-bottom: 1px;*/
    font-size: 8pt;
    text-align: left;
}

.exportText {
    margin: auto;
    text-align: left;
}

/*--end sharing----------------------------------------------*/

/*styles for export functionality*/

.export-group {
    margin: 0 auto;
    text-align: center;
}

#exportButton {
    width: 32.5px;
    margin-left: 0px;
    opacity: 0.3;
}


#exportButton:hover{
    opacity: 1.0;
}

#exportPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

/*.dropdown-menu {*/
/*min-width: 60px;*/
/*font-size: 11px;*/
/*margin: 1px 0px 1px 0px;*/
/*text-align: center;*/
/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
/*background-color: white;*/
/*}*/

/*.dropdown-menu li a{*/
/*padding: 1px 0px 1px 0px;*/
/*}*/

/*--end export----------------------------------------------*/

/*Styles for toolbar*/

.treeTools {
    position: absolute;
    padding: 5px;
    right: 57px;
    top: 0;
}


.treeToolsButton {
    width: 26px;
    /*float: right;*/
    opacity: 0.3;
}

.treeToolsButton:hover {
    opacity: 1;
}

.opacity {
    opacity: 1 !important;
}

.treeToolsMenu {
    background-color: whitesmoke;
    text-align: left;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: 38px;
    width: 104px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
    padding-bottom: 2px;
    display: none;
}

treeToolsMenuContent {
    text-align: left;
}

.treeToolsMenu li {
    list-style:none;
    /*border-bottom: 1px;*/
    font-size: 8pt;
    text-align: left;
}

.treeToolsText {
    margin: auto;
    text-align: left;
}

/*--end toolbar----------------------------------------------*/

/*Styles for leaf searching*/

.searchBox {
    padding: 5px;
    right: 83px;
    top: 0;
    position: absolute;
}

.searchInput {
    float: right;
    width: 0px;
    margin-left: 0px;
    display: none;
}

.searchButton {
    width: 26px;
    float: right;
    opacity: 0.3;
}

.searchButton:hover {
    opacity: 1;
}

.searchResultsBox {
    width: 150px;
    position: absolute;
    /*margin-right: 10px;*/
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    /*-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    display: none;
    padding-top: 10px;
    text-algin: left;
}

.searchResultsList li {
    display: block;
    margin-left: -35px;
    list-style-type: none;
    cursor: pointer;
}

.searchResultsList a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 10pt;
    cursor: pointer;
}

.searchResultsList a:hover {
    background-color: orange;
}

/*--end search-------------------------*/


/*Styles for tree toggling*/

div.treeToggleButtons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 91px;
    top: 10px;
}

button.treeToggleButton {
    font-size: 10px;
    width: 26px;
    height: 26px;
    vertical-align: top;
    opacity:0.3;
}

button.treeToggleButton:hover {
    opacity:1.0;
}

button.treeToggleButton span{
    vertical-align: center;
}

#leftToggleButton {
    text-align: center;
    float: left;
}

#rightToggleButton {
    text-align: center;
    margin-left: 26px;
    float: right;
}

.treeToggleDropdown {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 26px;
    right: 26px;
    width: 39px;
    height: 26px;
}

#treeToggleDropdownButton {
    width: 39px;
    height: 26px;
}

#treeToggleDropdownText {
    text-align: center;
    font-size: 10px;
}

.treeToggleDropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 39px;
    /*margin-top: 5px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*z-index: -1;*/
}

.treeToggleDropdown-content a{
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    font-size: 8pt;
    cursor: pointer;
}

.treeToggleDropdown-content li{
    color: black;
    /*padding: 6px 16px;*/
    text-decoration: none;
    display: block;
    font-size: 10pt;
    cursor: pointer;
}

.treeToggleDropdown-content a:hover{
    background-color: orange;
}

/*--end toggle----------------------------------------------*/


#ladderizeDescButton {
    width: 48.75px;
    margin-left: 0px;
    opacity: 0.3;
}


#ladderizeDescButton:hover{
    opacity: 1.0;
}

#ladderizeDescButton:active{
    color: #ffffff;
}

#ladderizeAscButton {
    width: 48.75px;
    margin-left: 0px;
    opacity: 0.3;
}


#ladderizeAscButton:hover{
    opacity: 1.0;
}

/*styles for opposite Tree action functionality*/

.opTreeAcGroup {
    margin: 0 auto;
    text-align: center;
}

#opTreeAcButton {
    width: 49px;
    margin-left: 0px;
    opacity: 0.3;
}


#opTreeAcButton:hover{
    opacity: 1.0;
}

#opTreeAcPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

/*.dropdown-menu {*/
/*min-width: 60px;*/
/*font-size: 11px;*/
/*margin: 1px 0px 1px 0px;*/
/*text-align: center;*/
/*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
/*background-color: white;*/
/*}*/

/*.dropdown-menu li a{*/
/*padding: 1px 0px 1px 0px;*/
/*}*/

/*--end export----------------------------------------------*/


/*Styles for rescaling buttons*/

div.rescaleButtons {
    width: 66px;
    margin: 0 auto;
    /*top: 10px;*/
    /*left: 10px;*/
    /*position: absolute;*/
}

button.rescaleButton {
    font-size: 10px;
    width: 22px;
    height: 22px;
    vertical-align: top;
    opacity: 0.3;
}

button.rescaleButton.span{
    vertical-align: middle;
}

button.rescaleButton:hover{
    opacity: 1.0;
}

#upButton{
    display: block;
    margin-left: 22px;
}

#leftButton{
    float: left;
}

#rightButton{
    margin-left: 22px;
    float: right;
}

#downButton{
    display: block;
    margin-left: 22px;
}

/*--end rescale----------------------------------------------*/

/*Styles for zooming buttons*/

.zoomSliderContainer {
    /*position: absolute;*/
    margin: 0 auto;
    color: black;
    width: 90px;
    /*margin-left: -55px;*/
    /*margin-top: 400px;*/
    /*top: 50%;*/
    /*bottom:0;*/
    left: 5px;
    /*right: 0;*/
    /*margin: auto;*/
    /*vertical-align: middle;*/

}
/*.zoomSlider {*/
    /*-webkit-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
/*}*/

/*--end zoom----------------------------------------------*/

/*this following code makes the treename hide on focus*/
.treename:focus::-webkit-input-placeholder  {color:transparent;} /* Chrome; Opera; Safari */
.treename:focus::-moz-placeholder   {color:transparent;} /*Firefox 19    */
.treename:-moz-placeholder   {color:transparent;} /* Firefox 18- */
.treename:-ms-input-placeholder    {color:transparent;} /* IE 10*/


/*personalized render icon*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?v8nxfa');
    src:  url('../fonts/icomoon.eot?v8nxfa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v8nxfa') format('truetype'),
    url('../fonts/icomoon.woff?v8nxfa') format('woff'),
    url('../fonts/icomoon.svg?v8nxfa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phyloio-01:before {
    content: "\e900";
}
