body,
html {
    height: 100%;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.tree-tools {
    position: absolute;
    text-align:center;
    width: 122px;
    top: 40px;
    right: 50px;

}

.tree-tools-menu {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: grey;
    padding-bottom: 2px;
    display: none;
}

.tree-tools-menu li {
    list-style:none;
    border-bottom: 1px;
    text-align: left;
    font-size: 8pt;
}

.tree-tools-text {
    padding-left: 2px;
}

#colorScale {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}

#colorScale b {
    margin-left: -20px;
}

#placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    /*input: focus: -webkit-input-placeholder { color:transparent; };*/
    background: -webkit-linear-gradient(#ddd, #aaa);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ddd, #aaa);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ddd, #aaa);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ddd, #aaa);
    /* Standard syntax */
}

#placeholder p {
    width: 200px;
}

#text {
    position: absolute;
    width: 200px;
    top: 40px;
    left: 250px;
}

#arrow {
    left: 40px;
    top: 40px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#sidebar-wrapper {
    background: -webkit-linear-gradient(black, #555);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #555);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #555);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #555);
    /* Standard syntax */
    position: absolute;
}

#sidebar-wrapper-wrapper {
    margin: 0 auto -60px;
    padding: 0 0 60px;
    overflow: hidden;
    margin-bottom: 30px;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

#wrapper {
    height: 100%;
}

.vis-container {
    /*height: calc(100% - 60px);*/
    height: 100%;
    padding: 0px;
    position: absolute;
    width: 100%;
}

.vis-scale {
    height: 60px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0px;
}

.vis-scale-2 {
    height: 60px;
    width: 50%;
    background-color: gray;
    float: left;
    position: absolute;
    bottom: 0px;
}

#vis-scale2 {
    margin-left: 50%;
}

.vis-container-2 {
    position: absolute;
    float: right;
    height: 100%;
    padding: 0px;
    width: 50%;
    border-width: 0px;
    border-style: solid;
    border-right-width: 2px;
    border-color: black;
    /*height: calc(100% - 60px);*/
}

#vis-container2 {
    border-width: 0px;
    margin-left: 50%;
}

#page-content-wrapper {
    padding: 0px;
    height: 100%;
}

.sidebar-brand {
    font-weight: bold;
    font-size: 26px !important;
}

.sidebar-version {
    font-size: 12px;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #999;
}

#mode-buttons {
    width: 200px;
    margin-left: 20px;
    /*display: hidden;*/
}

#renderButton {
    margin-left: 20px;
}

input[type=file]{
    color:transparent;
}

label {
    padding-top: -40px;
    color: #999;
    font-size: 12px;
}

/*styles for export functionality*/

.export-group {
    margin: 0 auto;
}

#exportButton {
    width: 40px;
    /*margin-left: 0px;*/
    opacity: 0.3;
}

#exportButton:hover{
    opacity: 1.0;
}

.dropdown-menu {
    min-width: 60px;
    font-size: 11px;
    margin: 1px 0px 1px 0px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.dropdown-menu li a{
    padding: 1px 0px 1px 0px;
}

/*end styles for export functionality*/

.alert {
    width: 200px;
    margin-left: 20px;
    line-height: 1.2;
}

.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn {
    border: 0 none;
}

.btn.sharp {
    border-radius:0;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-sm {
    background: #9d9d9d;
    color: #ffffff;
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 0px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.button {
    background-color: black; /* Green */
    opacity: 0.9;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white; /* Green */
    color: black;
}


.dropbtn{
   background-color: #2b542c;
   border: none;
   cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
     background-color: #999;
 }


#settingsPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

#exportPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

.sizeAdjust {
    width: 200px !important;
}

#settingsPanel [type=checkbox], b {
    margin-left: 20px;
}


input[type=radio] {
    margin-right: 5px;
}

input[type=checkbox] {
    margin-right: 5px;
}

.noExtraMargin {
    margin-left: 0px !important;
}

.extraMargin {
    margin-left: 20px !important;
}

#autoCollapseButtons {
    width: 200px;
    height: 70px;
}

.collapseElem {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.singleIn {
    margin-top: 4px;
}

.newickIn {
    width: 200px;
    margin-top: 4px;
    height: 200px;
    line-height: 20px;
}

#newickInputs p {
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
}

#newickInputs b {
    margin: 0px;
    color: #999;
}

#newickInputs {
    min-height: 260px;
}

.exportIn {
    margin-top: 4px;
    line-height: 20px;
}

#exportInputs p {
    color: white;
    margin-bottom: -10px;
}

#exportInputs b {
    margin: 0px;
    color: #999;
}

#exportInputs {
    min-height: 260px;
}

.exampleBtn {
    display: block;
}

.compareIn {
    width: 200px;
    margin-top: 4px;
    display: none;
}

.exampleBtn a {
    color: #999;
    font-size: 12px;
    margin: 0px;
}

.smallText {
    margin-top: -40px;
    width: 170px;
    margin-left: 40px;
    line-height: 14px;
    text-align: left;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
}

::-webkit-input-placeholder { /* WebKit; Blink; Edge */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19 */
    color:    rgba(37, 36, 45, 0.57);
    opacity:  0.6;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    rgba(37, 36, 45, 0.57);
    font-style: italic;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(37, 36, 45, 0.57);
    font-style: italic;
}

table.fixed {
    width: 200px;
    text-indent: 0px;
    word-break:break-all;
    margin-left: 20px;
    margin-right: 30px;
}
/*Setting the table width is important!*/
table.fixed tr.row1 td  {
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: top;}

table.fixed td {
    overflow:hidden;
}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
    width:45px;
}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
    width:125px;
}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
    width:30px;
}/*Setting the width of column 3.*/

textarea{
    resize: none;
}
input {
    resize: none;
}

input.treename {
    background: transparent;
    width: 125px;
    border: none;
}

input.treename::-webkit-input-placeholder{
    color: #999;
    font-style: italic
}

.tooltipElem{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    opacity: 0.9;
}

.tooltipElemText{
    fill: white;
    font-size: 10pt;
    font-weight: bold;
}

path.link {
    stroke: grey;
    fill: none;
    cursor: pointer;
}

path.link.select{
    stroke: green !important;
}

path.link:hover{
    stroke: green !important;
}

path.link.search{
    stroke: orange !important;
}

path.link.search:hover{
    stroke: green !important;
}

g.node{
    fill: black;
    cursor: pointer;
}

g.node.select{
    fill: green !important;
}

circle.node {
    fill: black;
}

circle.node.select{
    fill: green !important;
}

text.node{
    fill: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

text.node.select{
    fill: green !important;
    font-weight: bold;
}

text.triangleText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1;
    fill: black;
}

text.triangleText.select {
    fill: green;
    font-weight: bold;
}

path.triangle.select{
    fill: green !important;
}

rect.node {
    fill: magenta;
    stroke-width: 2px;
    stroke: black;
}

/*Styles for leaf searching*/

.searchBox {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    /*min-height: 45px;*/
    /*padding: 5px;*/
    /*right: 5px;*/
    /*top: 5px;*/
    /*position: absolute;*/
}

.searchInput {
    /*float: right;*/
    width: 80px;
    height: 26px;
    /*margin-left: 0px;*/
    /*display: none;*/
}

.searchButton {
    width: 26px;
    height: 26px;
    /*float: right;*/
    opacity: 0.3;
}

.searchButton:hover {
    opacity: 1;
}

.input-group .form-control {
    width: 92px;
    height: 26px;
}

.resultsBox {
    width: 150px;
    position: absolute;
    /*margin-right: 10px;*/
    max-height: 200px;
    overflow: scroll;
    margin-top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    /*-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    /*-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);*/
    display: none;
    padding-top: 10px;
    text-algin: left;
}

.resultsList li {
    margin-left: -35px;
    list-style-type: none;
    cursor: pointer;
}

.resultsList li:hover {
    background-color: orange;
}


/*Styles for tree toggling*/

div.treeToggleButtons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 91px;
    top: 10px;
}

button.treeToggleButton {
    font-size: 10px;
    width: 26px;
    height: 26px;
    vertical-align: top;
    opacity:0.3;
}

button.treeToggleButton:hover {
    opacity:1.0;
}

button.treeToggleButton span{
    vertical-align: center;
}

#leftToggleButton {
    text-align: center;
    float: left;
}

#rightToggleButton {
    text-align: center;
    margin-left: 26px;
    float: right;
}

.treeToggleDropdown {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 26px;
    right: 26px;
    width: 39px;
    height: 26px;
}

#treeToggleDropdownButton {
    width: 39px;
    height: 26px;
}

#treeToggleDropdownText {
    text-align: center;
    font-size: 10px;
}

.treeToggleDropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 39px;
    /*margin-top: 5px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*z-index: -1;*/
}

.treeToggleDropdown-content a{
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    font-size: 8pt;
    cursor: pointer;
}

.treeToggleDropdown-content li{
    color: black;
    /*padding: 6px 16px;*/
    text-decoration: none;
    display: block;
    font-size: 10pt;
    cursor: pointer;
}

.treeToggleDropdown-content a:hover{
    background-color: orange;
}

/*Styles for rescaling buttons*/

div.rescaleButtons {
    width: 78px;
    margin: 0 auto;
    /*top: 10px;*/
    /*left: 10px;*/
    /*position: absolute;*/
}

button.rescaleButton {
    font-size: 10px;
    width: 26px;
    height: 26px;
    vertical-align: top;
    opacity: 0.3;
}

/*button.rescaleButton.span{*/
    /*vertical-align: middle;*/
/*}*/

button.rescaleButton:hover{
    opacity: 1.0;
}

#upButton{
    display: block;
    margin-left: 26px;
}

#leftButton{
    float: left;
}

#rightButton{
    margin-left: 26px;
    float: right;
}

#downButton{
    display: block;
    margin-left: 26px;
}

.zoomSliderContainer {
    /*position: absolute;*/
    margin: 0 auto;
    color: black;
    width: 100px;
    /*margin-left: -55px;*/
    /*margin-top: 400px;*/
    /*top: 50%;*/
    /*bottom:0;*/
    left: 5px;
    /*right: 0;*/
    /*margin: auto;*/
    /*vertical-align: middle;*/

}
/*.zoomSlider {*/
    /*-webkit-transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg);*/
    /*-moz-transform: rotate(90deg);*/
    /*-o-transform: rotate(90deg);*/
    /*transform: rotate(90deg);*/
/*}*/

/*this following code makes the treename hide on focus*/
/*
.treename::-webkit-input-placeholder  {
    color:gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.treename::-moz-placeholder   {
    color:gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.treename:-moz-placeholder   {
    color:gray;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
*/

/*this following code makes the treename hide on focus*/
.treename:focus::-webkit-input-placeholder  {color:transparent;} /* Chrome; Opera; Safari */
.treename:focus::-moz-placeholder   {color:transparent;} /*Firefox 19    */
.treename:-moz-placeholder   {color:transparent;} /* Firefox 18- */
.treename:-ms-input-placeholder    {color:transparent;} /* IE 10*/
