body,
html {
    height: 100%;
    overflow:hidden;
}

body#manual, body#about {
    overflow: auto;
}

#colorScale {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 10px; /*magic number */
    bottom: 0;
    z-index: 99;
}

.logo {
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 82px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30'><circle cx='15' cy='15' r='10' /></svg>");
    background-size: 100px 82px;
    position: absolute;
    padding: 5px;
    right: 57px;
    bottom: 5px;
    z-index: -1000;
}

#infotext {
    position: absolute;
    width: 200px;
    left: 250px;
}

#arrow {
    left: 40px;
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

svg {
    width: 100%;
}
.vis-container {
    /*height: calc(100% - 60px);*/
    height: 100%;
    padding: 0px;
    position: absolute;
    width: 100%;
    /*overflow: scroll !important;*/
    top: 55px;
}

.dist li {
    font-size: x-small;
    list-style-type: none;

}

#vis-scale2 {
    margin-left: 50%;
}

.vis-container-2 {
    position: absolute;
    float: right;
    height: 100%;
    padding: 0px;
    width: 50%;
    border-width: 0px;
    border-right: #e7e7e7 solid 2px;
    top: 55px;
}

#vis-container2 {
    border-width: 0px;
    margin-left: 50%;
}

#page-content-wrapper {
    padding: 0;
    height: 100%;
}


/*Styles for middle table compare mode for reorder and reroot*/

table.fixed {
    width: 200px;
    text-indent: 0px;
    word-break:break-all;
    margin-left: 20px;
    margin-right: 30px;
}
/*Setting the table width is important!*/
table.fixed tr.row1 td  {
    padding-top: 10px;
    padding-bottom: 0px;
    vertical-align: top;}

table.fixed td {
    overflow:hidden;
}/*Hide text outside the cell.*/
table.fixed td:nth-of-type(1) {
    width:45px;
}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {
    width:125px;
}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {
    width:30px;
}/*Setting the width of column 3.*/

/*--end middle table for reroot and reorder----------------------------------------------*/

/*Styles for treename input*/

textarea{
    resize: none;
}

input {
    resize: none;
}

input[type="range"]{
    color: inherit;
    background-color: inherit;
}

input.treename {
    background: transparent;
    width: 125px;
    border: none;
}

input.treename::-webkit-input-placeholder{
    color: #999;
    font-style: italic
}

/*--end treename input----------------------------------------------*/


/*Styles for menu of node or link click*/

.tooltipElem{
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;*/
    opacity: 0.9;
}

.tooltipElemText{
    fill: white;
    font-size: 1em;
    /*font-weight: bold;*/
    opacity: 1;
}

.tooltipElemInfoText{
    fill: white;
    font-size: 1.1em;
    /*font-weight: bold;*/
    opacity: 1;
}


/*--end tooltipElem----------------------------------------------*/

/*Styles for tree*/

path.link {
    stroke: grey;
    fill: none;
    cursor: pointer;
}

path.link.select{
    stroke: green !important;
}

path.link:hover{
    stroke: green !important;
}

path.link.search{
    stroke: orange !important;
}

path.link.search:hover{
    stroke: green !important;
}

g.node{
    fill: black;
    cursor: pointer;
}

g.node.select{
    fill: green !important;
}

circle.node {
    fill: black;
}

circle.node.select{
    fill: green !important;
}

circle.node.search {
    fill: orange !important;
}

circle.node.search:hover {
    fill: green !important;
}

text.node{
    fill: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

text.node.select{
    fill: green !important;
    font-weight: bold;
}

text.node.search{
    fill: orange !important;
    font-weight: bold;
}

text.node.search:hover{
    fill: green !important;
    font-weight: bold;
}

text.triangleText {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    opacity: 1;
    fill: black;
}

text.triangleText.select {
    fill: green;
    font-weight: bold;
}

path.triangle.select{
    fill: green !important;
}

rect.node {
    fill: magenta;
    stroke-width: 2px;
    stroke: black;
}

/*--end tree----------------------------------------------*/

/*Styles for undobutton*/

.undoButton {
    width: 26px;
    float: right;
    opacity: 0.6
}

.undoButton:hover {
    opacity: 1;
}

/*--end undo----------------------------------------------*/

/*-- Menu Button Group -----------------------------------*/

#phylo .btn-group-menu{
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    align-items: center;

}

#phylo .btn.sharp {
    border-radius:0;
}

#phylo .btn.sharp.activebtn {
    opacity: 0.8;
}

#phylo .btn {
    border: 0 none;
}


#phylo .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

#phylo .btn-primary {
    background: #0099cc;
    color: #ffffff;
}

#phylo .btn-sm {
    background: #9d9d9d;
    color: #ffffff;
    padding: 5px 8px;
    font-size: 11px;
    border-radius: 0px;
}

.export-group, .histogram-group {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/*Styles for sharing*/

#shareButton, #histLblShowBtn, #exportButton, #histLegendShowBtn {
    width: 100%;
    margin-left: 0px;
    opacity: 0.6;
}

#shareButton:hover, #histLblShowBtn:hover, #exportButton:hover{
    opacity: 1.0;
}

.exportMenu {
    background-color: whitesmoke;
    text-align: left;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: 38px;
    width: 130px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
    padding-bottom: 2px;
    display: none;
}

.exportMenuContent {
    text-align: left;
}

.exportMenu li {
    list-style:none;
    /*border-bottom: 1px;*/
    font-size: 8pt;
    text-align: left;
}

.exportText {
    margin: auto;
    text-align: left;
}

/*--end sharing----------------------------------------------*/

/*styles for export functionality*/


#phylo .btn.nwk, #phylo .btn.png, #phylo .btn.svg, #phylo .collapseButton.inc, #phylo .collapseButton.desc, #collapseVal {
    width: 33%;
    margin-left: 0px;
    opacity: 0.6;
    text-align: center;
    display: inline-block;
}

#phylo .btn.normalised, #phylo .btn.fixed, #phylo .btn.events, #phylo .btn.genes {
    width: 50%;
    margin-left: 0px;
    opacity: 0.6;
    text-align: center;
    display: inline-block;
}

#phylo .btn.nwk:hover, #phylo .btn.png:hover, #phylo .btn.svg:hover, #phylo .btn.normalised:hover, #phylo .btn.fixed:hover, #phylo .btn.genes:hover, #phylo .btn.events:hover {
    opacity: 1.0;
}

#collapseVal {
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
}
#exportPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

/*--end export----------------------------------------------*/

/*Styles for toolbar*/

.treeToolsButton, .stackToolsButton, .exportButton {
    width: 26px;
    /*float: right;*/
    opacity: 0.6;
}

.treeToolsButton:hover, .stackToolsButton:hover, .exportButton:hover {
    opacity: 1;
}

.opacity {
    opacity: 1 !important;
}

.treeToolsMenu, .stackToolsMenu {
    background-color: whitesmoke;
    text-align: left;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: 38px;
    width: 130px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
    padding-bottom: 2px;
    display: none;
}

treeToolsMenuContent, stackToolsMenuContent {
    text-align: left;
}

.treeToolsMenu li, .stackToolsMenu li {
    list-style:none;
    /*border-bottom: 1px;*/
    font-size: 8pt;
    text-align: left;
}

.treeToolsText, .stackToolsText {
    margin: auto;
    margin-top: 5px;
    text-align: left;
}

/*--end toolbar----------------------------------------------*/

/*Styles for leaf searching*/

.search {
    order: -1;
    height: 26px;
}

.searchInput {
    width: 150px;
    margin-left: 0px;
    display: none;
}

.searchButton {
    width: 26px;
    opacity: 0.6;
}

.searchButton:hover {
    opacity: 1;
}

.searchResultsBox {
    width: 150px;
    position: absolute;
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.searchResultsList li {
    display: block;
    margin-left: -40px;
    list-style-type: none;
    cursor: pointer;
}

.searchResultsList a{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 10pt;
    cursor: pointer;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

.searchResultsList a:hover {
    background-color: orange;
}

/*--end search-------------------------*/


/*Styles for tree toggling*/

div.treeToggleButtons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 91px;
    top: 10px;
}

button.treeToggleButton {
    font-size: 10px;
    width: 26px;
    height: 26px;
    vertical-align: top;
    opacity:0.6;
}

button.treeToggleButton:hover {
    opacity:1.0;
}

button.treeToggleButton span{
    vertical-align: center;
}

#leftToggleButton {
    text-align: center;
    float: left;
}

#rightToggleButton {
    text-align: center;
    margin-left: 26px;
    float: right;
}

.treeToggleDropdown {
    position: absolute;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 26px;
    right: 26px;
    width: 39px;
    height: 26px;
}

#treeToggleDropdownButton {
    width: 39px;
    height: 26px;
}

#treeToggleDropdownText {
    text-align: center;
    font-size: 10px;
}

.treeToggleDropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 39px;
    /*margin-top: 5px;*/
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*z-index: -1;*/
}

.treeToggleDropdown-content a{
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    font-size: 8pt;
    cursor: pointer;
}

.treeToggleDropdown-content li{
    color: black;
    text-decoration: none;
    display: block;
    font-size: 10pt;
    cursor: pointer;
}

.treeToggleDropdown-content a:hover{
    background-color: orange;
}

/*--end toggle----------------------------------------------*/


#ladderizeDescButton {
    width: 50%;
    margin-left: 0px;
    opacity: 0.6;
}


#ladderizeDescButton:hover{
    opacity: 1.0;
}

#ladderizeDescButton:active{
    color: #ffffff;
}

#ladderizeAscButton {
    width: 50%;
    margin-left: 0px;
    opacity: 0.6;
}


#ladderizeAscButton:hover{
    opacity: 1.0;
}

/*styles for opposite Tree action functionality*/

.opTreeAcGroup {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#opTreeAcButton {
    width: 50%;
    margin-left: 0px;
    opacity: 0.6;
}


#opTreeAcButton:hover{
    opacity: 1.0;
}

#opTreeAcPanel {
    display: none;
    background-color: #999;
    -webkit-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
    box-shadow: inset 0px 0px 22px -4px rgba(0, 0, 0, 0.74);
}

/*--end export----------------------------------------------*/


/*Styles for rescaling buttons*/

div.rescaleButtons {
    width: 66px;
    margin: 0 auto;
    top: 10px;
    left: 10px;
    /*position: absolute;*/
}

button.rescaleButton {
    font-size: 10px;
    width: 22px;
    height: 22px;
    vertical-align: top;
    opacity: 0.6;
}

button.rescaleButton.span{
    vertical-align: middle;
}

button.rescaleButton:hover{
    opacity: 1.0;
}

#upButton{
    display: block;
    margin-left: 22px;
}

#leftButton{
    float: left;
}

#rightButton{
    margin-left: 22px;
    float: right;
}

#downButton{
    display: block;
    margin-left: 22px;
}

/*--end rescale----------------------------------------------*/

/*Styles for zooming buttons*/

.zoomSliderContainer {
    margin: 0 auto;
    color: black;
    width: 95%;
}

/*--end zoom----------------------------------------------*/

/*this following code makes the treename hide on focus*/
.treename:focus::-webkit-input-placeholder  {color:transparent;} /* Chrome; Opera; Safari */
.treename:focus::-moz-placeholder   {color:transparent;} /*Firefox 19    */
.treename:-moz-placeholder   {color:transparent;} /* Firefox 18- */
.treename:-ms-input-placeholder    {color:transparent;} /* IE 10*/


/*personalized render icon*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?v8nxfa');
    src:  url('../fonts/icomoon.eot?v8nxfa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v8nxfa') format('truetype'),
    url('../fonts/icomoon.woff?v8nxfa') format('woff'),
    url('../fonts/icomoon.svg?v8nxfa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phyloio-01:before {
    content: "\e900";
}


.extraMargin + span:after {
    content: "\000A";
    white-space: pre;
}

.modal-container {
    z-index: 3;
    right: 50px;
    top: 75px;
    position: absolute;
    padding: 5px 20px 15px 20px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    display: none;

}

/* ----- menu styles ----- */


/* multilevel dropdown */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* multilevel dropdown */

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#histogram-legend text, .legendtxt, .legendsummarytxt {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    stroke: none;
}


/* dropdown menu styles for multival per line */
#phylo .extraMargin + span:after {
    content: "\000A";
    white-space: pre;
}

#phylo .modal-container {
    z-index: 3;
    right: 50px;
    top: 75px;
    position: absolute;
    padding: 5px 20px 15px 20px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    display: none;

}

#phylo li.hz{
    display: inline-flex;
}

#phylo .open > .dropdown-menu {
    display: table-caption;
}

#phylo .hz > span {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #2A2A2A;
    background-color: #e5e5e5;
    white-space: nowrap;
    width: 60px;
}

#phylo .hz > a {
    line-height: 1.42857143;
    color: #2A2A2A;
    background-color: #f7f7f7;
    white-space: nowrap;
    flex-grow: 1;
}

#phylo a.disabled{
    pointer-events: none;
    cursor: default;
    color: #e5e5e5 !important;
}
